body {
    background: #202124;
}

.logo {
    display: block;
    max-height: 100px;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: auto;
}

div.logo img {
    margin: auto;
    margin-top: 275px;
    margin-bottom: 20px;
    
    display: block;

}

div.textbox img {
    position: relative;
    width: 25px;
    height: auto;
    margin-left: 10px;
    align-content: center;
}

div.textbox{
    display: flex;
    margin: auto;
    z-index: 3;
    height: 44px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    width: 550px;

    
}

input#search {
    border: #202124;
    width: 460px;
    color: white;
    font-size: 16px;
    height: 25px;
    margin: auto;
    outline: none;
}


