body {
    background: #202124;
}

.logo {
    display: block;
    max-height: 100px;
    position: relative;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin: auto;
}

div.logo img {
    margin: auto;
    margin-top: 275px;
    margin-bottom: 20px;
    
    display: block;

}

div.textbox img {
    position: relative;
    width: 25px;
    height: auto;
    margin-left: 10px;
    align-content: center;
}

div.textbox{
    display: flex;
    margin: auto;
    z-index: 3;
    height: 44px;
    border: 1px solid #5f6368;
    border-radius: 24px;
    width: 550px; 
    transition: 0.5s;
}

div.textbox:hover {
    background-color: #363534;
    transition: 0.5s;

}

input#search {
    outline: none;
    border: none;
    width: 460px;
    color: white;
    font-size: 16px;
    height: 25px;
    margin: auto;
    background-color: transparent;
    outline: none;
}

div.buttons {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 500px;
    text-align: center;
    


}
span.button {
    width: 40px;
    text-align: center;
    margin: 6px;
    
    
    
    
}

span.button input {
    background-color: #303134;
    padding: 0, 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 36px;
    width: 130px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px, 6px;
    padding: 10px;
}

span.button input:hover {
    border: 0.5px solid white;
    cursor: pointer;
}

p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    color: #FEF4B6;
    font-family: 'Raleway', Helvetica, sans-serif;
}

a {
    display: block;
    font-size: large;
    text-decoration: none;
    color:black;
    background-color: #FEF4B6;
    border: solid;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    font-family: 'Raleway';
    font-weight: 800;
    text-align: center;
    transition: 0.5s;
    line-height: 50px;
    
}

a:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}



